:root {
    --main-color: #2563eb;
    --color-primary: white;
    --colot-icon-nav: #9ca3af;
}

:root {
    --color-primary: white;
    --colot-icon-nav: #9ca3af;
}

body {
    font-family: "Tajawal", sans-serif !important;
    /* font-family: "Rubik", sans-serif !important; */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cursor-pointer {
    cursor: pointer;
}

/* start style nav */

.profile-nav {
    max-width: 120px;
}

.dot-light {
    box-shadow: 0 0 4px 5px rgba(49, 130, 206, 0.5);
}

.svg-nav {
    fill: var(--colot-icon-nav);
    transition: 0.2s;
}

.item-nav:hover .svg-nav {
    fill: var(--color-primary);
}

/* start style nav */

.main-page::-webkit-scrollbar,
aside::-webkit-scrollbar {
    width: .2rem;
    height: .5rem;
}

.main-page::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track {
    background-color: transparent;
}

.main-page::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* end  style nav */
/* start style login */

/* start slider */

.slider {
    width: 700px;
    max-width: 700px;
    height: 500px;
    margin: 0 50px;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    /* width: 1300px; */
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff1f;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #2563eb87;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

/* end slider */

.images-login {
    background-color: #2563eb87;
}

/* .login .title {
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 0;
    left: calc(50% / 6);
} */

.content-login {
    width: 450px;
}

.input {
    font-size: 17px;
    color: black;
    background-color: #efefef;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 9px 20px;
    width: 100%;
    transition: .4s;
}

.input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
    box-shadow: 0 0 0 .15vw skyblue;
}

.label {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 8px;
}

.content-login .welcome,
.content-login .logo {
    font-family: "Concert One", sans-serif;
    margin: 0;
}

.content-login .welcome {
    font-size: 50px;
}

.content-login .logo {
    font-size: 30px;
    margin-top: -10px;
}

.content-login .logo span {
    color: var(--main-color);
}

.forget-password {
    text-decoration: none;
    font-size: 15px;
    margin: 10px 0;
    display: block;
    color: var(--main-color);
    transition: .2s;
    font-weight: 500;
}

.forget-password:hover {
    color: #003cbe;
}

.primary-btn {
    padding: 12px;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: .2s;

}

.primary-btn:hover {
    background-color: black;
}

.password__icon {
    position: absolute;
    left: 15px;
    bottom: 8px;
}

.fa-solid.eye {
    transition: .2s;
}

.fa-solid.eye:hover {
    color: #003cbe !important;
}

/* end style login */

/* start style add job */


/* end style add job */

@media (max-width:768px) {
    .input {
        padding: 10px 18px;
        font-size: 15px;
    }

    .label {
        font-size: 19px;
    }

    .content-login .welcome {
        font-size: 45px;
    }

    .content-login .logo {
        font-size: 25px;
    }

    .forget-password {
        font-size: 15px;
    }

    .primary-btn {
        font-size: 16px;
        padding: 12px;
    }

}